body {
    color: #484848;
    font-size: 14px;
    font-family: 'Montserrat', Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body .container {
    margin: 0;
    margin-bottom: 50px; /* Equal to the height of the footer */
}

body > header,
#filters,
body > main,
body > footer {
    padding: 0px 80px;
}


@media only screen and (max-width: 1425px) {
    body > header,
    #filters,
    body > main,
    body > footer {
        padding: 0px 40px;
    }
}
