body>footer {
    align-items: center;
    background: white;
    border-top: .5px solid #CCCCCC;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

body>footer .left,
body>footer .right {
    flex-basis: 0;
    flex-grow: 1;
}

body>footer .right {
    text-align: end;
}

body>footer .center {
    padding: 0px 20px;
    text-align: center;
}

body>footer i:hover {
    color: var(--primary-color);
}
