header {
    align-items: center;
    background: white;
    border-bottom: .5px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
}

header #logo img{
    height: 48px;
    width: 113.6px;
}

#api_status {
    background-color: #cccccc;
    border-radius: 50%;
    height: 40px;
    min-height: 40px;
    margin-left: auto;
    width: 40px;
    min-width: 40px;
}

#api_status.available {
    background-color: var(--primary-color);
}

#search {
    width: 100%;
}
