.search_container {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
}

.search_buttons button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: medium;
	border: none;
	background-color: transparent;
	padding: 10px
}

.search_buttons {
	display: flex;
	align-items: center;
	border: 1px solid var(--whisper-grey);
	border-radius: 100px;
	height: 100%;
}

.search_buttons:hover {
	box-shadow: 0 1px 3px var(--whisper-grey);
}

.anywhere {
	border-radius: 100px 0 0 100px;
}

.add_guests {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--unfocused-grey);
	border-radius: 0 100px 100px 0;
}

.search_buttons button div {
	padding: 0 10px;
}

#any_week {
	border-width: 0 1px;
	border-style: solid;
	border-color: var(--whisper-grey);
}

.search_icon {
	background-color: var(--primary-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
