<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'head.html.jinja' %}
</head>

<body>
	{% include 'header.html.jinja' %}

	<main class="container">
		<section>
			<h1>
				We can’t seem to find the page you’re looking for
			</h1>
		</section>
	</main>

	{% include 'footer.html.jinja' %}
</body>

</html>
