<footer>
	<div class="left">
		Hbnb · Justin Masayda
	</div>
	<div class="center">
		<p>Holberton School</p>
	</div>
	<div class="right">
		<a href="https://github.com/keysmusician/Hbnb">
			<i class="fa fa-github" style="font-size:36px"></i>
		</a>
	</div>
</footer>
