<meta charset="UTF-8">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<!-- GitHub icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="../static/styles/common.css?{{ cache_id }}">
<link rel="stylesheet" type="text/css" href="../static/styles/header.css?{{ cache_id }}">
<link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
<link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
<script type="module" src="../static/scripts/hbnb.js?{{ cache_id }}"></script>
{% if config.DEBUG %}
	<script type="module">
		import RefreshRuntime from 'http://localhost:5173/@react-refresh'
		RefreshRuntime.injectIntoGlobalHook(window)
		window.$RefreshReg$ = () => {}
		window.$RefreshSig$ = () => (type) => type
		window.__vite_plugin_react_preamble_installed__ = true
	</script>
	<script type="module" src="http://localhost:5173/@vite/client"></script>
	<script type="module" src="http://localhost:5173/source/index.tsx"></script>
{% else %}
	<script type="module" src="../static/scripts/index.js?{{ cache_id }}"></script>
	<link rel="stylesheet" type="text/css" href="../static/styles/index.css?{{ cache_id }}">
{% endif %}
<title>Hbnb</title>
