<header>
	<div id="logo">
		<a href="/">
			<img src="../static/images/logo.png?{{ cache_id }}"/>
		</a>
	</div>
	<div id="search"> </div>
	<div id="api_status" title="API status: unavailable"></div>
</header>
